::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the thumb */
  border-radius: 6px; /* rounded corners */
}
::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the thumb on hover */
}


.App {
  text-align: center;
}

html {

  color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  
}

body {
  background-image: url('../../resources/background.jpg');
  background-size: cover;
  margin: 0;
  width: 100%;
}

header {
  background-color: black;
  color: rgb(196, 196, 196);
  display: flex;
  height: 5rem;
}

header h1 {
  text-align: center;
  width: 100%;
}

.songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 400px;
  margin: 0 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 767px) {
  
  .songs {

    display: contents;

  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
